
<h1><%= @event.titre %></h1>
<p>Information Event: <%= @event.content %></p>
<p>Location Event: <%= @event.location %></p>
<p>Date Event: <%= @event.event_date %></p>
<p>Creator: <%= @event.creator.name %></p>

<h1>Attendees</h1>

<% @attendances.each do |attendance|  %>

<p><%= attendance.name %> </p>

<% end %>