<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-md-3"></div>
    <div class="jumbotron col-md-6" >
    <h3 class="display-4"><i class="fas fa-calendar-alt"></i> <%= @event.titre %></h3>
    <p class="lead"><%= @event.content %></p>
    <p class="lead"><i class="fas fa-map-marker-alt"></i> <%= @event.location %></p>
    <p class="lead"><i class="fas fa-calendar-day"></i> <%= @event.event_date %></p>
    <p class="lead"><i class="fas fa-user"></i> <%= @event.creator.name %></p>
    <hr class="my-4">
    <h3><i class="fas fa-users"></i> Attendees</h3>

    <% @attendances.each do |attendance|  %>

    <p class="lead" style="margin-left: 20px"><i class="fas fa-user"></i> <%= attendance.name %> </p>

    <% end %>

    <%  if current_user == @creator_event%>
    <hr class="my-4">
    <h3><i class="fas fa-share-alt-square"></i> invite</h3>
    <%= form_for(@invitation, url: attendances_path) do |f| %>
    <%= f.label :attendee_id %>
    <%= f.collection_select(:attendee_id, @not_invated, :id, :name) %>
    <%= f.hidden_field :attended_event_id, value: params[:id] %>
    <%= f.submit "Invite to Event" %>
    <% end  %>
    <% end %>

  </div>
  </div>
</div>
